<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.admin.AdminMapper">
	
	<select id="productList" resultType="com.example.demo.dto.ProductDto">
		select * from product 
		order by id desc
	</select>   
	
	<select id="getPcode" resultType="Integer">
		select ifnull(max(right(pcode,2)),0)+1
		from product
		where pcode like concat(#{pcode},'%')	
	</select>
	
	<insert id="productWriteOk">
		insert into product(pcode,title,price,standard,max,save,pimg,dimg)
		values(#{pcode},#{title},#{price},#{standard},#{max},#{save},#{pimg},#{dimg})
	</insert>
	
	<delete id="productDelete">
		delete from product
		where id=#{id}
	</delete>
	
	<select id="getProduct" resultType="com.example.demo.dto.ProductDto">
		select * from product
		where id=#{id}
	</select>
	
	<update id="productUpdateOk">
		update product 
		set title=#{title},price=#{price},standard=#{standard},max=#{max},save=#{save},pimg=#{pimg},dimg=#{dimg}
		where id=#{id}
	</update>
	
	<select id="reservationList" resultType="com.example.demo.dto.ReservationDto">
		select * from reservation
		order by id desc
	</select>
	
	<select id="qnaList" resultType="com.example.demo.dto.QnaDto">
		select * from qna
		order by id desc
	</select>
	
	<update id="chgState">
		update reservation 
		set state=state+1
		where id=#{id}
	</update>
	
	<insert id="qnaAnswer">
		insert into qna(userid,content,writeday,rtitle,ref,qna,pcode)
		values('admin',#{content},now(),#{rtitle},#{ref},2,#{pcode})
	</insert>
	
	<update id="chgRef">
		update qna 
		set ref=#{ref}
		where id=#{ref} 
	</update>
	
	<select id="noticeList" resultType="com.example.demo.dto.NoticeDto">
		select * from notice
		order by id desc
	</select>
	
	<insert id="noticeWriteOk">
		insert into notice(title,content,writeday)
		values(#{title},#{content},now())
	</insert>
	
	<select id="noticeContent" resultType="com.example.demo.dto.NoticeDto">
		select * from notice
		where id=#{id}
	</select>
	
	<delete id="noticeDelete">
		delete from notice
		where id=#{id}
	</delete>
	
	<update id="noticeUpdateOk">
		update notice
		set title=#{title},content=#{content}
		where id=#{id}
	</update>
</mapper>